mixin menu(index, projects, profile)
	nav#side-menu
		.small.icon.index.home(class="#{index}")
		.small.icon.projects(class="#{projects}")
		.small.icon.profile(class="#{profile}")
		a(href="/cv", target="_blank")
			.small.icon.cv