mixin menu(index, projects, profile)
	nav#side-menu
		.small.icon.index.home(class="#{index}")
		.small.icon.projects(class="#{projects}")
		.small.icon.profile(class="#{profile}")
		a(href="https://s3.amazonaws.com/prath.am/CV.pdf", target="_blank")
			.small.icon.cv