footer
	section.psa
		span.title-text I LOVE MEETING NEW PEOPLE!
		br
		span.p-text
			| Want to work together or chat just about anything? Get in touch!
		br
		span.contact-text
			| &nbsp(+1)-217-979-8200
		span.contact-text
			a(href="mailto:mail@prath.am")
				| &nbspmail@prath.am
	section.social
		h1.title The Obligatory Footer
		a(href="mailto:mail@prath.am")
			span.footer-icon.mail
		a(href="http://dribbble.com/pagrawl3")
			span.footer-icon.dribbble
		a(href="http://github.com/pagrawl3")
			span.footer-icon.github
		a(href="http://twitter.com/prathamdesign")
			span.footer-icon.twitter
		br
		span.copyright
			| © 2014 Pratham Agrawal