.full-page
	section#logo-wrapper
		#logo
		h1#logo-text PRATHAM AGRAWAL
		hr
		hr
		hr
		h3#logo-subtext
			span Entrepreneur
			span Designer
			span Developer
	nav#home-menu
		.button#projects-button
			.icon.projects
			h2#projects-text PROJECTS
		.button#profile-button
			.icon.profile
			h2#profile-text PROFILE
include ../includes/social