nav#side-menu
	.small.icon.index.selected
	.small.icon.projects
	.small.icon.profile
section#logo-wrapper
	#logo
	h1#logo-text PRATHAM AGRAWAL
	hr
	h3#logo-subtext ENTREPRENEUR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DESIGNER &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DEVELOPER
nav#home-menu
	button#projects-button
		.icon.projects
		h2#projects-text PROJECTS
	button#profile-button
		.icon.profile
		h2#profile-text PROFILE