nav#side-menu
	.small.icon.index
	.small.icon.projects.selected
	.small.icon.profile
header
	h1.title PROJECTS
	hr
section#projects
	article.project.show-info-wrapper
		.white-card
			.project-logo#attuned
			//- h4.project-title Attuned
		h4.more-info.show-info ATTUNED
	article.project.show-info-wrapper
		.white-card
			.project-logo#musync
			//- h4.project-title Musync
		h4.more-info.show-info MUSYNC
	article.project.show-info-wrapper
		.white-card
			.project-logo#dumbsound
			//- h4.project-title Dumbsound
		h4.more-info.show-info DUMBSOUND
	article.project.show-info-wrapper
		.white-card
			.project-logo#smartfolder
			//- h4.project-title SmartFolder
		h4.more-info.show-info SMARTFOLDER
	article.project.show-info-wrapper
		.white-card
			.project-logo#tabify
			//- h4.project-title Tabify
		h4.more-info.show-info TABIFY
section#project-description
	//- h3 Description
	h4
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, commodi, dignissimos minima facere atque laborum magnam similique vitae itaque quam delectus veritatis alias fuga? Labore, tempore, natus, deserunt, distinctio rerum unde recusandae facilis quaerat inventore quia ut numquam voluptates! Quod, unde dolor culpa? Natus, iusto, commodi magnam quas voluptatum at saepe id ratione officia alias voluptas doloremque ab beatae non asperiores? Perspiciatis, a autem perferendis ut est doloribus sequi delectus ullam ne
section#project-details
	#tech-wrapper
		h4.tech-text TECH
		ul#tech-list
			li.tech#html(tech-name="HTML/CSS/JS")
			li.tech#twilio(tech-name="TWILIO")
			li.tech#node(tech-name="NODE.JS")
			li.tech#mongo(tech-name="MONGODB")
			li.tech#echonest(tech-name="THE ECHONEST")
			li.tech#spotify(tech-name="LIBSPOTIFY")
			li.tech#python(tech-name="PYTHON")
			li.tech#php(tech-name="PHP")
			li.tech#redis(tech-name="REDIS")
			li.tech#arduino(tech-name="HARDWARE")
			li.tech#socket(tech-name="SOCKET.IO")
.bubble
	h4 NODE.JS