@import url(http://fonts.googleapis.com/css?family=Bitter: 400);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed: 400italic, 400, 300, 700);
body {
  background-image: url(../img/bg.jpg);
  background-attachment: fixed;
  background-color: #111;
  color: white;
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
body.no-scroll {
  overflow: hidden;
}
.button {
  border: 0px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: none;
  margin: 30px;
  display: inline-block;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotating {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mobile {
  display: none;
}
.transition {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
#loader {
  position: absolute;
  display: block;
  margin: 0 auto;
  margin-left: -32px;
  top: 50%;
  left: 50%;
  height: 64px;
  width: 64px;
  background: url(../img/loading_white.svg);
  background-size: 64px 64px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
#wrapper {
  padding-top: 200px;
  opacity: 0;
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
#logo-wrapper {
  text-align: center;
}
#logo-wrapper hr {
  height: 1px;
  max-width: 23.33333333em;
  margin: 3px auto;
  border: none;
  background-color: #FFF;
  opacity: 0.5;
}
#logo {
  display: block;
  margin: 0px auto 10px auto;
  width: 12em;
  height: 12em;
  background: url(../img/logo.png);
  background-size: 12em 12em;
}
h1 {
  font-size: 2.7em;
  font-weight: 400;
}
h1#logo-text {
  display: inline-block;
  margin: 80px auto;
  text-align: center;
  padding: 10px 30px;
  margin-bottom: 0;
  border: 1px solid #FFF;
  font-weight: 300;
}
h2 {
  -webkit-font-smoothing: antialiased;
  font-size: 1.7em;
  font-weight: 400;
  color: #FFF;
}
h3 {
  font-size: 1.6em;
  font-weight: 400;
}
h3#logo-subtext {
  font-family: 'Great Vibes';
  text-align: center;
  font-size: 2.4em;
  margin-top: 30px;
}
h3#logo-subtext span {
  margin: 0 0.55555556em;
}
hr {
  color: #FFF;
  max-width: 28.125em;
  margin: 15px auto;
}
nav#home-menu {
  margin-top: 70px;
  text-align: center;
  font-size: 0.8em;
}
nav#side-menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  z-index: 999;
}
header {
  text-align: center;
}
header .title {
  display: inline-block;
  margin: 0 auto;
  font-weight: 200;
  border: 1px solid #FFF;
  padding: 10px 30px;
}
.icon {
  display: block;
  background-size: 7.11111111em 7.11111111em;
  width: 7.11111111em;
  height: 7.11111111em;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.icon.small {
  background-size: 48px 48px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  margin: 30px 10px;
  padding: 10px;
  border: 0px solid #FFF;
  border-radius: 50px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.icon.small.selected {
  border: 2px solid #FFF;
  cursor: auto;
  opacity: 0.7;
}
.icon.small.selected:hover {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.icon.index {
  background-image: url(../img/index_white.svg);
}
.icon.profile {
  background-image: url(../img/profile_white.svg);
}
.icon.projects {
  background-image: url(../img/projects_white.svg);
}
.icon.cv {
  background-image: url(../img/cv.svg);
}
.icon:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.white-card {
  background-image: url(../img/pattern.png);
  background-color: #FFF;
  width: 50%;
  min-width: 800px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 0 10px #000;
}
.full-page {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding-top: 200px;
  margin-top: -200px;
  min-height: 1000px;
}
section#projects {
  text-align: center;
  margin: 50px auto;
  max-width: 1800px;
  z-index: 2;
}
section#projects article.project .project-logo {
  margin: 0 auto;
  font-size: 0.85em;
  display: block;
  background-size: 7.11111111em 7.11111111em;
  width: 7.11111111em;
  height: 7.11111111em;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  display: inline-block !important;
  pointer-events: none;
}
section#projects article.project .project-logo.small {
  background-size: 48px 48px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  margin: 30px 10px;
  padding: 10px;
  border: 0px solid #FFF;
  border-radius: 50px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
section#projects article.project .project-logo.small.selected {
  border: 2px solid #FFF;
  cursor: auto;
  opacity: 0.7;
}
section#projects article.project .project-logo.small.selected:hover {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
section#projects article.project .project-logo.index {
  background-image: url(../img/index_white.svg);
}
section#projects article.project .project-logo.profile {
  background-image: url(../img/profile_white.svg);
}
section#projects article.project .project-logo.projects {
  background-image: url(../img/projects_white.svg);
}
section#projects article.project .project-logo.cv {
  background-image: url(../img/cv.svg);
}
section#projects article.project .project-logo:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
section#projects article.project .project-name {
  display: inline-block;
  color: #222;
  font-size: 2.5em;
  margin: 0 1.11111111em;
  line-height: 2.5em;
  vertical-align: top;
}
section#projects article.project .project-description {
  padding: 1.66666667em;
  color: #222;
  font-size: 1.4em;
}
section#projects article.project .tech-title {
  font-size: 1.2em;
  color: #000;
  margin-bottom: 0.55555556em;
}
section#projects article.project ul#tech-list {
  list-style: none;
  margin: 1.11111111em auto;
  padding: 0;
  text-align: center;
}
section#projects article.project ul#tech-list li.tech {
  display: inline-block;
  width: 54px;
  height: 54px;
  background-color: #222;
  background-size: 28px 28px;
  background-position: 13px 13px;
  background-repeat: no-repeat;
  border-radius: 100px;
  margin: 0.27777778em;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
section#projects article.project ul#tech-list li.tech:hover {
  background-color: #000;
}
.bubble {
  position: absolute;
  display: inline-block;
  height: 40px;
  padding: 0px;
  background: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 999;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
.bubble h4 {
  color: #000;
  margin: 0px 30px;
  line-height: 40px;
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #FFF transparent;
  display: block;
  width: 0;
  z-index: 1;
}
header ul#profile-menu {
  position: absolute;
  display: block;
  z-index: 999;
  padding: 0;
  font-size: 1.4em;
  width: 100%;
  padding: 10px 0;
}
header ul#profile-menu li {
  display: inline-block;
  padding: 0 20px;
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
header ul#profile-menu li:hover {
  opacity: 1;
}
section#profile-items {
  margin-top: 80px;
  text-align: center;
}
section#profile-items article.profile-item {
  padding: 2.77777778em;
}
section#profile-items article.profile-item#education-item {
  border-top: 10px solid #e67e22;
}
section#profile-items article.profile-item#education-item .timeline {
  background-color: #e67e22;
}
section#profile-items article.profile-item#education-item .timeline-dot {
  border-color: #e67e22;
}
section#profile-items article.profile-item#experience-item {
  border-top: 10px solid #9b59b6;
}
section#profile-items article.profile-item#experience-item .timeline {
  background-color: #9b59b6;
}
section#profile-items article.profile-item#experience-item .timeline-dot {
  border-color: #9b59b6;
}
section#profile-items article.profile-item#skills-item {
  border-top: 10px solid #3498db;
}
section#profile-items article.profile-item#skills-item .timeline {
  background-color: #3498db;
}
section#profile-items article.profile-item#skills-item .timeline-dot {
  border-color: #3498db;
}
section#profile-items article.profile-item#misc-item {
  border-top: 10px solid #e74c3c;
  margin-bottom: 100px;
}
section#profile-items article.profile-item#misc-item .timeline {
  background-color: #e74c3c;
}
section#profile-items article.profile-item#misc-item .timeline-dot {
  border-color: #e74c3c;
}
section#profile-items article.profile-item .profile-icon {
  display: inline-block;
  margin: 0 auto;
  opacity: 0.9;
  width: 3.55555556em;
  height: 3.55555556em;
  background-size: 3.55555556em 3.55555556em;
}
section#profile-items article.profile-item .profile-icon#skills {
  font-size: 1.2em;
  margin-top: -0.2em;
}
section#profile-items article.profile-item .profile-name {
  font-family: 'Great Vibes', 'futura-pt';
  font-weight: 300;
  display: inline-block;
  color: #222;
  vertical-align: top;
  font-size: 2.8em;
  margin: 0 auto;
  line-height: 64px;
  padding: 0 20px;
}
section#profile-items article.profile-item ul.timeline-items {
  color: #333;
  position: relative;
  height: auto;
  padding-left: 0;
  list-style: none;
  font-size: 1.4em;
}
section#profile-items article.profile-item ul.timeline-items .timeline {
  position: absolute;
  height: 100%;
  width: 6px;
  background-color: #333;
  border-radius: 10px;
}
section#profile-items article.profile-item ul.timeline-items .timeline-item {
  position: relative;
  margin: 20px 0;
}
section#profile-items article.profile-item ul.timeline-items .timeline-item .date-wrapper {
  position: absolute;
  left: 0;
  margin-left: -10px;
  top: 37%;
  z-index: 2;
}
section#profile-items article.profile-item ul.timeline-items .timeline-item .date-wrapper .timeline-dot {
  display: inline-block;
  background-color: #DDD;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 3px solid #333;
}
section#profile-items article.profile-item ul.timeline-items .timeline-item .date-wrapper .date {
  display: inline-block;
  vertical-align: middle;
  max-width: 50px;
  font-size: 0.7em;
  margin-top: -1em;
  text-align: left;
}
section#profile-items article.profile-item ul.timeline-items .timeline-item a {
  cursor: default;
}
section#profile-items article.profile-item ul.timeline-items .timeline-item .timeline-data {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 560px;
  min-width: 100px;
  padding: 1.66666667em;
  background-color: #F5F5F5;
  box-shadow: 0 0 8px 0px #BBB;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
section#profile-items article.profile-item ul.timeline-items .timeline-item .timeline-data:hover {
  box-shadow: 0 0 16px 2px #BBB;
}
section#profile-items article.profile-item ul.timeline-items .timeline-item .timeline-data .timeline-sub-item {
  position: relative;
  overflow: hidden;
  display: table;
  width: 100%;
}
section#profile-items article.profile-item ul.timeline-items .timeline-item .timeline-data .timeline-sub-item .timeline-sub-image {
  display: table-cell;
  width: 5.55555556em;
  height: 5.55555556em;
  background-size: 5.55555556em 5.55555556em;
}
section#profile-items article.profile-item ul.timeline-items .timeline-item .timeline-data .timeline-sub-item .timeline-sub-data {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}
section#profile-items article.profile-item ul.timeline-items .timeline-item .timeline-data .timeline-sub-item .timeline-sub-data h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 1.1em;
  font-weight: 500;
}
section#profile-items article.profile-item ul.timeline-items .timeline-item .timeline-data .timeline-sub-item .timeline-sub-data h3.timeline-sub-type {
  font-weight: 400;
  color: #AAA;
  font-size: 1em;
}
section#profile-items article.profile-item ul.skill-boxes {
  list-style: none;
  padding: 0;
}
section#profile-items article.profile-item ul.skill-boxes .skill-box {
  display: inline-block;
  margin: 10px;
  width: 22.22222222em;
  background-color: #222;
}
section#profile-items article.profile-item ul.skill-boxes .skill-box .skill-header {
  width: 100%;
  background-color: #3498db;
  font-size: 1.6em;
  padding: 16px 0;
}
section#profile-items article.profile-item ul.skill-boxes .skill-box .skill-sub-header {
  width: 100%;
  background-color: #2980b9;
  font-size: 1.2em;
  padding: 6px 0;
}
section#profile-items article.profile-item ul.skill-boxes .skill-box ul.skills {
  padding: 0;
  list-style: none;
}
section#profile-items article.profile-item ul.skill-boxes .skill-box ul.skills .skill {
  width: 100%;
  font-size: 1.2em;
  padding: 12px 0;
  position: relative;
  color: #FFF;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
section#profile-items article.profile-item ul.skill-boxes .skill-box ul.skills .skill:hover {
  background-color: #111;
}
section#profile-items article.profile-item ul.skill-boxes .skill-box ul.skills .skill .skill-title {
  display: inline-block;
  line-height: 32px;
}
section#profile-items article.profile-item ul.skill-boxes .skill-box ul.skills .skill .skill-score {
  display: inline-block;
  position: absolute;
  right: 30px;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  line-height: 32px;
}
section#profile-items article.profile-item ul.skill-boxes .skill-box ul.skills .skill .skill-score.high {
  background-image: url(../img/skills/high.png);
}
section#profile-items article.profile-item ul.skill-boxes .skill-box ul.skills .skill .skill-score.medium {
  background-image: url(../img/skills/medium.png);
}
section#profile-items article.profile-item ul.skill-boxes .skill-box ul.skills .skill .skill-score.low {
  background-image: url(../img/skills/low.png);
}
section#profile-items article.profile-item ul.skill-boxes .skill-box ul.skills .skill hr {
  position: absolute;
  bottom: 0;
  border: none;
  height: 1px;
  width: 100%;
  background-color: #FFF;
  opacity: 0.2;
  margin: 0;
}
section#profile-items article.profile-item h2.misc-skills {
  margin-top: 20px;
  color: #666;
}
section#profile-items article.profile-item h2.misc-skills ul.misc-skill-list {
  margin-top: 5px;
  font-size: 0.6em;
  padding: 0;
  list-style: none;
  color: #111;
}
section#profile-items article.profile-item h2.misc-skills ul.misc-skill-list .misc-skill-item {
  color: #111;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #000;
  margin: 3px 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
section#profile-items article.profile-item h2.misc-skills ul.misc-skill-list .misc-skill-item:hover {
  background-color: #ddd;
}
section#profile-items article.profile-item ul.misc-table {
  padding: 0;
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
section#profile-items article.profile-item ul.misc-table .misc-item {
  background-color: #EEE;
  color: #333;
  padding: 10px 0;
  font-size: 1.2em;
}
section#profile-items article.profile-item ul.misc-table .misc-item:nth-child(2n) {
  background-color: #E5E5E5;
}
footer section.psa {
  padding: 30px;
  text-align: center;
  background-color: #111;
}
footer section.psa span.title-text {
  font-size: 2em;
  font-weight: 300;
}
footer section.psa span.p-text {
  font-size: 1.5em;
}
footer section.psa span.contact-text {
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 20px;
  margin-bottom: 0;
  color: #EA2E49;
}
footer section.psa span.contact-text a {
  text-decoration: none;
  font-style: none;
  color: #EA2E49;
}
footer section.social {
  background: url(../img/bg_tile.png);
  text-align: center;
  font-family: 'Great Vibes';
  font-weight: 300;
  padding: 30px;
}
footer section.social h1.title {
  margin: 0;
  margin-bottom: 1.11111111em;
}
footer section.social span.footer-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: 80px 80px;
  opacity: 0.7;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
footer section.social span.footer-icon.mail {
  background-image: url(../img/email.svg);
}
footer section.social span.footer-icon.dribbble {
  background-image: url(../img/dribbble.svg);
}
footer section.social span.footer-icon.github {
  background-image: url(../img/github.svg);
}
footer section.social span.footer-icon.twitter {
  background-image: url(../img/twitter.svg);
}
footer section.social span.footer-icon:hover {
  opacity: 1;
}
footer section.social span.copyright {
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
}
@media all and (max-width: 640px) {
  body {
    font-size: 12px !important;
  }
  .mobile {
    display: block;
    color: #000;
  }
  .timeline,
  .date {
    display: none !important;
  }
  .full-page {
    padding-top: 175px;
    height: auto;
    min-height: 0px;
  }
  header ul#profile-menu {
    display: none;
  }
  .skill-box {
    width: 100% !important;
    margin: 10px 0 !important;
  }
  .profile-item {
    padding: 2em 1.11111111em !important;
  }
  .project-description {
    padding: 0.83333333em !important;
  }
  ul.misc-table {
    width: 100% !important;
  }
  #logo-text {
    margin-top: 30px !important;
    font-size: 2em;
  }
}
@media all and (max-width: 1200px) {
  body {
    font-size: 13px;
  }
}
@media all and (max-width: 1000px) {
  nav#side-menu {
    position: absolute;
    text-align: center;
    width: 100%;
  }
  nav#side-menu .small.icon {
    display: inline-block;
  }
  .timeline-data {
    max-width: 400px !important;
  }
  .timeline-sub-item {
    display: block !important;
  }
  .timeline-sub-item .timeline-sub-image {
    margin: 10px auto;
    display: block !important;
  }
  .timeline-sub-item .timeline-sub-data {
    display: block !important;
  }
  .timeline {
    margin-top: 0 !important;
  }
  #logo-subtext {
    margin-bottom: 0 !important;
    margin-top: 15px !important;
  }
  #logo-subtext span {
    margin: 0 10px!important;
    font-size: 0.8em;
  }
  #home-menu {
    margin-top: 20px !important;
  }
  .white-card {
    background-image: url(../img/pattern.png);
    background-color: #FFF;
    width: 90%;
    min-width: 0px;
    margin: 1.66666667em auto;
    padding: 1.66666667em 1.11111111em;
    box-shadow: 0 0 10px #000;
  }
}
